.navbar {
    height: 120px;
    background-color: transparent;
}

.wrapper {
    display: flex;
    max-width: 1366px;
    margin: auto;    
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    height: 100%;


span {
   
    font-weight: bold;
    font-size: 30px;
}

.social {    
    display: flex;
    gap: 20px;
}

img {
    display: flex;
    margin-left: 300px;
    width: 100px;
    height: 100px;
}
}